[submodule "editions/community"]
	path = editions/community
	url = git@github.com:silimium/community.git
	branch = .
[submodule "editions/enterprise"]
	path = editions/enterprise
	url = git@github.com:silimium/enterprise.git
	branch = .
[submodule "components/user-component"]
	path = components/user-component
	url = git@github.com:silimium/user-component.git
	branch = .
[submodule "components/task-component"]
	path = components/task-component
	url = git@github.com:silimium/task-component.git
	branch = .
[submodule "components/task-archive-component"]
	path = components/task-archive-component
	url = git@github.com:silimium/task-archive-component.git
	branch = .
